.btn {
    @include rounded();
    box-sizing: border-box;
    font-size: 1em;
    background: $accent;
    color: $light;
    text-decoration: none;
    border: 1px solid $dark;
    line-height: 2em;
    padding: 0.5em 1em;
    display: inline-block;
    vertical-align: baseline;
    &--incognito {
        background: $background;
    }

    &:focus-visible {
        @include glow();
    }
    &:hover {
        background: $accent-strong;
        cursor: pointer;
    }
}
