.btn {
    @include rounded();
    box-sizing: border-box;
    font-size: 1em;
    background: var(--accent);
    color: var(--light);
    text-decoration: none;
    border: 1px solid var(--dark);
    line-height: 2em;
    padding: 0.5em 1em;
    display: inline-block;
    vertical-align: baseline;
    &--incognito {
        background: inherit;
        color: inherit;
        border-color: currentColor;
    }

    &:focus-visible {
        @include glow();
    }
    &:hover {
        background: var(--background);
        cursor: pointer;
    }
}

.cta-new {
    @include dropShadow(heavy, var(--shadow));
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 3rem;
    height: 3rem;
    background: var(--accent);
    border-radius: 50%;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--light);
}
.cta-admin {
    color: var(--accent);
}
