.btn {
    @include rounded();
    box-sizing: border-box;
    font-size: 1em;
    background: $accent;
    color: $light;
    text-decoration: none;
    border: 1px solid $dark;
    line-height: 2em;
    padding: 0.5em 1em;
    display: inline-block;
    vertical-align: baseline;
    &--incognito {
        background: inherit;
        color: inherit;
        border-color: currentColor;
    }

    &:focus-visible {
        @include glow();
    }
    &:hover {
        background: $background;
        cursor: pointer;
    }
}

.cta-new {
    @include dropShadow(heavy);
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 3rem;
    height: 3rem;
    background: $accent;
    border-radius: 50%;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $light;
}
.cta-admin {
    color: $accent;
}
