.catlist {
    margin-bottom: 3rem;
    &__item {
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 0.5em 0;
        box-shadow: 0 1px slategray;
    }
    &__count {
        grid-row-start: 2;
    }
    &__amount {
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 1.7em;
        align-self: center;
    }
}
