.catlist {
    margin-bottom: 3rem;
    &__item {
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 0.5em 0;
        border-bottom: 1px solid var(--shadow);
        background-image: linear-gradient(
            90deg,
            var(--background),
            var(--shadow)
        );
        background-size: 100% 10px;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
    &__count {
        grid-row-start: 2;
    }
    &__amount {
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 1.7em;
        align-self: center;
    }
}
