.expense-details {
    @include rounded();
    @include dropShadow(wide, var(--shadow));
    color: var(--light);
    background: var(--dark);
    padding: 1em;
    &__footer {
        padding-top: 1rem;
        font-size: small;
    }
}
