.expense-details {
    @include rounded();
    @include dropShadow(wide);
    color: $light;
    background: $dark;
    padding: 1em;
    &__footer {
        padding-top: 1rem;
        font-size: small;
    }
}
