form {
    width: 100%;
}
.form-group,
.submit {
    margin-bottom: 2rem;
    width: 100%;
}
label {
    display: block;
}
input {
    border: 1px solid var(--dark);
    padding: 0.5em;
}
input,
select,
textarea {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    background: var(--light);
    border: none;
    border: 1px solid var(--shadow);
}

input[type="checkbox"] {
    @include visuallyHidden();
    & + label {
        display: inline-block;
        position: relative;
        padding-left: 3em;
        &::before {
            content: " ";
            border: 2px solid var(--accent);
            position: absolute;
            left: 0;
            width: 1.5em;
            height: 1.5em;
            color: var(--accent);
            text-align: center;
        }
    }
    &:checked + label::after {
        content: "";
        position: absolute;
        left: 0.5em;
        top: 0;
        width: 0.5em;
        height: 1em;
        border-right: 2px solid var(--accent);
        border-bottom: 2px solid var(--accent);
        transform: rotateZ(40deg);
    }
}

.submit input {
    background: var(--accent);
    color: white;
    width: fit-content;
}
