html {
    box-sizing: border-box;
    font-size: $font-size-base;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: grid;
}

#app {
    display: grid;
    grid-auto-rows: minmax(70px, auto);
    grid-template-columns: 1fr minmax(300px, 600px) 1fr;
}

nav {
    grid-column: 1/4;
}

section {
    grid-column: 2/3;
}

footer {
    grid-column: 1/4;
}
