.navbar {
    background: var(--dark);
    color: var(--light);
    display: grid;
    grid-template-columns: 1fr minmax(300px, 600px) 1fr;
    .container {
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    a {
        color: var(--light);
    }
}
