table {
    border-collapse: collapse;
}
tr:nth-child(even) {
    background: var(--shadow);
}
th {
    text-align: left;
}
td {
    padding: 10px 5px;
    &.currency {
        text-align: right;
    }
}
