:root {
    // Typography
    --font-family-sans-serif: "Nunito", sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.6;

    // Colors

    --background-light: #e0e3ea;
    --background: hsl(170, 80%, 95%);
    --accent: hsl(170, 80%, 50%);
    --accent-strong: #58a4b0;
    --light: hsl(0, 0%, 100%);
    --lighter: #c2aff0;
    --dark: hsl(0, 0%, 31.8%);
    --darker: #1b1b1e;
    --error: hsl(0, 76.9%, 72.9%);

    --body-bg: var(--background);
    --font-color: var(--dark);
    --link-color: var(--dark);
    --shadow: hsl(170, 80%, 85%);
    --highlight: red;
}
/**
* MIXINS
**/

@mixin rounded() {
    border-radius: 0.25rem;
}

@mixin glow() {
    outline: none;
    box-shadow: 0 0 2px var(--highlight);
    border: 1px solid var(--highlight);
}

@mixin dropShadow($weight: normal, $color: var(--shadow)) {
    $drop: 0.125rem 0.125rem 0.25rem;
    @if ($weight == heavy) {
        $drop: 0.25rem 0.25rem 0.25rem;
    }
    @if ($weight== wide) {
        $drop: 0.125rem 0.125rem 0.75rem;
    }
    box-shadow: $drop $color;
}

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto; /* new - was 1px */
    margin: 0; /* new - was -1px */
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
