// Body

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// Colors

$background-light: #e0e3ea;
$background: #d8dbe2;
$accent: #58a4b0;
$accent-strong: #58a4b0;
$white: #fff;
$lighter: #c2aff0;
$dark: #373f51;
$darker: #1b1b1e;

$body-bg: $background;
$font-color: $dark;
$link-color: $darker;
$shadow: slategray;
$highlight: red;

/**
* MIXINS
**/

@mixin rounded() {
    border-radius: 0.25rem;
}

@mixin glow() {
    outline: none;
    box-shadow: 0 0 2px $highlight;
    border: 1px solid $highlight;
}

@mixin dropShadow($weight: normal, $color: $shadow) {
    $drop: 0.125rem 0.125rem 0.25rem;
    @if ($weight == heavy) {
        $drop: 0.25rem 0.25rem 0.25rem;
    }
    @if ($weight== wide) {
        $drop: 0.125rem 0.125rem 0.75rem;
        $color: transparentize($color, 0.5);
    }
    box-shadow: $drop $color;
}

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto; /* new - was 1px */
    margin: 0; /* new - was -1px */
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
