@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  background: #b1c8b6;
  color: #3b504b;
  font-family: nunito;
}

a {
  color: #794c96;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1500px) 1fr;
}

#app {
  grid-column-start: 2;
}

